.token {
  margin-top: 36px;

  &__inner {
    background: #DDE8CF;
    border-radius: 12px;
    padding: 44px 44px 44px 64px;
    display: flex;
  }

  &__left {
    margin-top: 12px;
  }

  &__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #0B1306;
    margin-top: 0px;
    margin-bottom: 24px;
    max-width: 384px;
    width: 100%;
  }

  &__text {
    color: #0B1306;
    font-size: 16px;
    line-height: 165%;
    margin-bottom: 24px;
    margin-top: 0px;
    max-width: 416px;
    width: 100%;
  }

  &__right {
    max-width: 766px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 90px;
  }

  &__btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 14px 24px;
    background: #16280D;
    border-radius: 6px;
    min-height: 50px;
    min-width: 50px;
    width: fit-content;
    text-decoration: none;
    display: block;
    transition: all .5s;

    &:hover {
      background: #649745;
    }
  }

  &__item {
    max-width: 373px;
    width: 100%;
    border-radius: 12px;
    background-color: #16280D;
    transition: all .5s;
    &:hover{
      background-color: #649745;
    }

    &:first-child,
    &:nth-child(2) {
      margin-bottom: 20px;
    }

  }

  .swiper-container,
  .swiper-wrapper {
    border-radius: 12px;

  }

  .swiper-slide {
    
    border-radius: 12px;
    color: #fff;
    display: flex;
    height: 144px;
    justify-content: space-between;
    cursor: pointer;
    
    position: relative;

    


  }

  &__slide-title {
    padding-top: 28px;
    padding-left: 28px;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
  }

  &__slide-box {
    padding-top: 28px;
    padding-right: 28px;

    p {
      text-align: center;
      font-size: 16px;
      line-height: 100%;
      color: #FFFFFF;
    }
  }

  &__box-img {
    margin-bottom: 12px;
  }

  .swiper-pagination {
    span {
      color: #fff;
      font-weight: normal;
      font-size: 16px;
      line-height: 100%;
      font-family: Inter;
    }
  }

  .swiper-pagination-custom {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    font-family: Inter;
    bottom: -8px;
    margin: 0px 10px;
    width: fit-content;
    left: 33px;
  }

  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after,
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    content: '';
  }
  .swiper-nav{
    position: relative;
    bottom: 36px;
    width: 100px;
    left: 16px;
   
  }
  .swiper-button-next{
    right: 0px;
   
  }
}
